body.signin-body{
    background-color: paleturquoise;
}
.container.signin-container{
    margin-top: 15%;
}
.card.signin-card{
    padding: 40px 0px 20px;
    background-color:#f4f4f4 ;
    box-shadow:2px 2px 5px rgb(0,0,0.5) ;
    -webkit-box-shadow:2px 2px 5px rgb(0,0,0.5) ;
    -moz-box-shadow:2px 2px 5px rgb(0,0,0.5) ;
    text-align: center;

}
.img.signin.img{
   padding: 0 2rem 2rem ;
    margin:auto;
    display: block;
    
    
}
form.signin-form{
max-width: 350px;
margin: auto;
}
button.signIn-btn{
    color:#ffffff;
    background-color: red;
    width: 100%;
}
a.Create-New-Account{
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-top: 15px;
}